## Day 3

With the toboggan login problems resolved, you set off toward the airport. While travel by toboggan might be easy, it's certainly not safe: there's very minimal steering and the area is covered in trees. You'll need to see which angles will take you near the fewest trees.

Due to the local geology, trees in this area only grow on exact integer coordinates in a grid. You make a map (your puzzle input) of the open squares (.) and trees (#) you can see. For example:

..##.......
#...#...#..
.#....#..#.
..#.#...#.#
.#...##..#.
..#.##.....
.#.#.#....#
.#........#
#.##...#...
#...##....#
.#..#...#.#
These aren't the only trees, though; due to something you read about once involving arboreal genetics and biome stability, the same pattern repeats to the right many times:

..##.........##.........##.........##.........##.........##.......  --->
#...#...#..#...#...#..#...#...#..#...#...#..#...#...#..#...#...#..
.#....#..#..#....#..#..#....#..#..#....#..#..#....#..#..#....#..#.
..#.#...#.#..#.#...#.#..#.#...#.#..#.#...#.#..#.#...#.#..#.#...#.#
.#...##..#..#...##..#..#...##..#..#...##..#..#...##..#..#...##..#.
..#.##.......#.##.......#.##.......#.##.......#.##.......#.##.....  --->
.#.#.#....#.#.#.#....#.#.#.#....#.#.#.#....#.#.#.#....#.#.#.#....#
.#........#.#........#.#........#.#........#.#........#.#........#
#.##...#...#.##...#...#.##...#...#.##...#...#.##...#...#.##...#...
#...##....##...##....##...##....##...##....##...##....##...##....#
.#..#...#.#.#..#...#.#.#..#...#.#.#..#...#.#.#..#...#.#.#..#...#.#  --->
You start on the open square (.) in the top-left corner and need to reach the bottom (below the bottom-most row on your map).

The toboggan can only follow a few specific slopes (you opted for a cheaper model that prefers rational numbers); start by counting all the trees you would encounter for the slope right 3, down 1:

From your starting position at the top-left, check the position that is right 3 and down 1. Then, check the position that is right 3 and down 1 from there, and so on until you go past the bottom of the map.

The locations you'd check in the above example are marked here with O where there was an open square and X where there was a tree:

..##.........##.........##.........##.........##.........##.......  --->
#..O#...#..#...#...#..#...#...#..#...#...#..#...#...#..#...#...#..
.#....X..#..#....#..#..#....#..#..#....#..#..#....#..#..#....#..#.
..#.#...#O#..#.#...#.#..#.#...#.#..#.#...#.#..#.#...#.#..#.#...#.#
.#...##..#..X...##..#..#...##..#..#...##..#..#...##..#..#...##..#.
..#.##.......#.X#.......#.##.......#.##.......#.##.......#.##.....  --->
.#.#.#....#.#.#.#.O..#.#.#.#....#.#.#.#....#.#.#.#....#.#.#.#....#
.#........#.#........X.#........#.#........#.#........#.#........#
#.##...#...#.##...#...#.X#...#...#.##...#...#.##...#...#.##...#...
#...##....##...##....##...#X....##...##....##...##....##...##....#
.#..#...#.#.#..#...#.#.#..#...X.#.#..#...#.#.#..#...#.#.#..#...#.#  --->
In this example, traversing the map using this slope would cause you to encounter 7 trees.

Starting at the top-left corner of your map and following a slope of right 3 and down 1, how many trees would you encounter?

In [1]:
# Import packages
import pandas as pd

In [2]:
# Read in data
df = pd.read_csv("Day3.txt", header=None)

In [3]:
# Ok, let's calculate how wide our map needs to be
vert_dist = df.shape[0]

In [4]:
vert_dist

323

In [6]:
df.columns=['map']

In [7]:
df.head()

                               map
0  .#......#..####.....#..#.......
1  #.#...#...#..#.#...#.#...##.##.
2  #.#....#..........#...##.....##
3  #.#.#.....##......#.#.......###
4  ..#..###....#.#....#.#.#..#....

In [8]:
# Let's see how long each string is
len(df.iloc[1,0])

31

In [9]:
df.iloc[0,0]

'.#......#..####.....#..#.......'

In [10]:
def repeat_to_length(string_to_expand, length):
    return (string_to_expand * (int(length/len(string_to_expand))+1))[:length]

In [29]:
df['map'] = df.apply(lambda x: repeat_to_length(x['map'], 323*3), axis=1)

In [25]:
# Let's check this worked
df['map'][0]

'.#......#..####.....#..#........#......#..####.....#..#........#......#..####.....#..#........#......#..####.....#..#........#......#..####.....#..#........#......#..####.....#..#........#......#..####.....#..#........#......#..####.....#..#........#......#..####.....#..#........#......#..####.....#..#........#......#..####.....#..#........#......#..####.....#..#........#......#..####.....#..#........#......#..####.....#..#........#......#..####.....#..#........#......#..####.....#..#........#......#..####.....#..#........#......#..####.....#..#........#......#..####.....#..#........#......#..####.....#..#........#......#..####.....#..#........#......#..####.....#..#........#......#..####.....#..#........#......#..####.....#..#........#......#..####.....#..#........#......#..####.....#..#........#......#..####.....#..#........#......#..####.....#..#........#......#..####.....#..#........#......#..####.....#..#........#......#..####.....#..#........#.......#......#..####.....#..#.......'

In [30]:
# Let's check 23rd character
df['map'][0][0:31]==df['map'][0][31:62]

True

In [40]:
# Looks good.  Now we can step through and count the trees
trees=0
col_counter=0
for row in range(df.shape[0]):
    if (df['map'][row][col_counter]=='#'):
        trees+=1        
    col_counter+=3

print("On row: ", row)
print("On column: ", col_counter-3)
print("Trees: ", trees)

On row:  322
On column:  966
Trees:  151

Time to check the rest of the slopes - you need to minimize the probability of a sudden arboreal stop, after all.

Determine the number of trees you would encounter if, for each of the following slopes, you start at the top-left corner and traverse the map all the way to the bottom:

Right 1, down 1.
Right 3, down 1. (This is the slope you already checked.)
Right 5, down 1.
Right 7, down 1.
Right 1, down 2.
In the above example, these slopes would find 2, 7, 3, 4, and 2 tree(s) respectively; multiplied together, these produce the answer 336.

What do you get if you multiply together the number of trees encountered on each of the listed slopes?

In [ ]:
# start with clean df

In [67]:
# Let's create a list of slopes
slopes = pd.DataFrame([[1,1],[3,1],[5,1],[7,1],[1,2]])
slopes.columns=['across','down']

In [68]:
slopes

   across  down
0       1     1
1       3     1
2       5     1
3       7     1
4       1     2

In [45]:
# Max would be 323*7 so let's re-create our dataframe for that width
# Read in data
df = pd.read_csv("Day3.txt", header=None)
df.columns=['map']
df['map'] = df.apply(lambda x: repeat_to_length(x['map'], 323*7), axis=1)

In [65]:
# Now let's define our previous chunk of code as a function
# Looks good.  Now we can step through and count the trees
def count_trees(across, down):
    '''this function traverses the df to the right across spaces then down down spaces and counts trees'''
    trees=0
    col_counter=0
    for row in range(0,df.shape[0],down):
        if (df['map'][row][col_counter]=='#'):
            trees+=1        
        col_counter+=across
    return trees

In [66]:
# Let's check our function for the one we already did above
count_trees(3,1)

151

In [72]:
# Now let's get trees for all of our slopes

slopes['trees']=0
for index, row in slopes.iterrows():
    slopes['trees'][index] = count_trees(row['across'],row['down'])

In [73]:
slopes

   across  down  trees
0       1     1    103
1       3     1    151
2       5     1     83
3       7     1     99
4       1     2     59

In [74]:
import numpy as np

In [75]:
np.prod(slopes['trees'])

7540141059