## Day 6

As your flight approaches the regional airport where you'll switch to a much larger plane, customs declaration forms are distributed to the passengers.

The form asks a series of 26 yes-or-no questions marked a through z. All you need to do is identify the questions for which anyone in your group answers "yes". Since your group is just you, this doesn't take very long.

However, the person sitting next to you seems to be experiencing a language barrier and asks if you can help. For each of the people in their group, you write down the questions for which they answer "yes", one per line. For example:

abcx
abcy
abcz
In this group, there are 6 questions to which anyone answered "yes": a, b, c, x, y, and z. (Duplicate answers to the same question don't count extra; each question counts at most once.)

Another group asks for your help, then another, and eventually you've collected answers from every group on the plane (your puzzle input). Each group's answers are separated by a blank line, and within each group, each person's answers are on a single line. For example:

abc

a
b
c

ab
ac

a
a
a
a

b
This list represents answers from five groups:

The first group contains one person who answered "yes" to 3 questions: a, b, and c.
The second group contains three people; combined, they answered "yes" to 3 questions: a, b, and c.
The third group contains two people; combined, they answered "yes" to 3 questions: a, b, and c.
The fourth group contains four people; combined, they answered "yes" to only 1 question, a.
The last group contains one person who answered "yes" to only 1 question, b.
In this example, the sum of these counts is 3 + 3 + 3 + 1 + 1 = 11.

For each group, count the number of questions to which anyone answered "yes". What is the sum of those counts?

In [1]:
# import packages
import pandas as pd
import numpy as np

In [25]:
# Open file
f = open("input_data/Day6.txt", "r")

# Initialize a new dataframe which will contain a string of unique answers for each group
group_answers = pd.DataFrame(columns=['answers'])
group_num = 0
group_answers.loc[0]=''

for line in f:    
    if line=="\n":
        # we can expect another group
        group_num+=1
        # add a row to our df 
        group_answers.loc[group_num]=''
    else:
        # we continue to process current group
        for letter in line.strip('\n'):
            if (group_answers['answers'][group_num].find(letter)<0):
                group_answers['answers'][group_num] = group_answers['answers'][group_num] + letter
            
# Close file
f.close()

In [26]:
group_answers

                       answers
0                 lqhksfnergca
1            ctfzrdbsapqlnwoux
2          ncjolhqfbpgxedmstzi
3                    abytuhodl
4                   kzxjwfhsdc
..                         ...
460  qxhngcyijptvazmedwlsfbkou
461              yasrbcwjuzgkx
462             yjdgutwfreslmc
463                       cfmn
464                  zbwlnqrcp

[465 rows x 1 columns]

In [39]:
np.sum(group_answers.apply(lambda x: len(x['answers']), axis=1))

6297

As you finish the last group's customs declaration, you notice that you misread one word in the instructions:

You don't need to identify the questions to which anyone answered "yes"; you need to identify the questions to which everyone answered "yes"!

Using the same example as above:

abc

a
b
c

ab
ac

a
a
a
a

b
This list represents answers from five groups:

In the first group, everyone (all 1 person) answered "yes" to 3 questions: a, b, and c.
In the second group, there is no question to which everyone answered "yes".
In the third group, everyone answered yes to only 1 question, a. Since some people did not answer "yes" to b or c, they don't count.
In the fourth group, everyone answered yes to only 1 question, a.
In the fifth group, everyone (all 1 person) answered "yes" to 1 question, b.
In this example, the sum of these counts is 3 + 0 + 1 + 1 + 1 = 6.

For each group, count the number of questions to which everyone answered "yes". What is the sum of those counts?

In [70]:
# Open file
f = open("input_data/Day6.txt", "r")

# Initialize a new dataframe which will contain a string of unique answers for each group
group_answers = pd.DataFrame(columns=['answers'])
group_num = 0
# This is our string that contains letters for which every person in the group has answered yes
all_yes=''
first_person=True

for line in f:    
    if line=="\n":
        # we can expect another group
        group_num+=1
        all_yes=''
        first_person=True
        # add a row to our df 
    else:
        # we continue to process current group
        # strip out newline
        person_answers = line.strip('\n')
        
        if first_person:
            # if it's the first person we save the entire answer
            all_yes = person_answers 
            first_person=False
        else:
             # otherwise we go through and remove letters if not found in subsequent answers
            for letter in all_yes:
                if (person_answers.find(letter)<0):
                    all_yes = all_yes.replace(letter,"") 
         # Add our answers to our df
        group_answers.loc[group_num] = all_yes
        
# Close file
f.close()

In [71]:
group_answers

            answers
0              sneg
1       tfzrdbsapql
2           njohqfp
3               ayu
4                kx
..              ...
460  qxhngcyijptvze
461          arbcju
462   yjdgutwfreslm
463
464            zwrc

[465 rows x 1 columns]

In [72]:
np.sum(group_answers.apply(lambda x: len(x['answers']), axis=1))

3158